html{
  font-size: 10px;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color:rgb(244,244,244);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  font-size: 1.6rem;
}
small{
  font-size: 1.2rem;
}
.container{
  margin: 0,auto;
  padding: 40px;
  max-width: 1000;
}
.header-text{
  color:white;
 
 }
 .input{
   font-size: 1.6rem;
   padding:0.5rem 2rem;
   line-height: 2.8rem;
   border-radius: 20px;
   border:1px solid #ddd;
   margin-bottom: 1rem;
 }
 .search-area{
   margin-top: 9vh;
 }
 .title{
   font-size: 1.2rem;
 }
 .main-area{
  min-height:80vh;
  text-align: center;
}
.search-title{
  font-size:3rem;
}
.my-footer{
  text-align: center;
}
.radius-text{
  display: inline;
}

.list-display{
  width: 60%;
  text-align: left;
  /* background-color: red; */
  margin-left: 30%;
  margin-right: 20%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
